bak
*.bak
*.BAK
sav
*.sav
*.SAV
tmp
*.tmp
*.TMP
obj
*.obj
*.dep
*.idb
*.iobj
*.suo
*.manifest
*.pdb
*.ipdb
*.ncb
*.log
*.tlog
*.sdf
*.opensdf
*.opendb
*.db
*.user
*Win32_Debug
*Win32_Release
*x64_Debug
*x64_Release
AbxMsgStrJp_dbc.cpp
utf8todbc.exe
*.exe
cp_*.bat
err.t*
err*.txt
*.tds
